/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-add {
  background-image: url(sprite.png);
  background-position: -1062px -243px;
  width: 17px;
  height: 17px;
}
.icon-big {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 361px;
  height: 312px;
}
.icon-button-lg {
  background-image: url(sprite.png);
  background-position: -724px -176px;
  width: 314px;
  height: 43px;
}
.icon-button-main {
  background-image: url(sprite.png);
  background-position: -361px -176px;
  width: 363px;
  height: 67px;
}
.icon-button {
  background-image: url(sprite.png);
  background-position: -361px -243px;
  width: 314px;
  height: 43px;
}
.icon-large-mini {
  background-image: url(sprite.png);
  background-position: -831px -134px;
  width: 201px;
  height: 31px;
}
.icon-large-small {
  background-image: url(sprite.png);
  background-position: -361px -88px;
  width: 470px;
  height: 88px;
}
.icon-large {
  background-image: url(sprite.png);
  background-position: -361px 0px;
  width: 721px;
  height: 88px;
}
.icon-mini {
  background-image: url(sprite.png);
  background-position: 0px -312px;
  width: 115px;
  height: 39px;
}
.icon-small {
  background-image: url(sprite.png);
  background-position: -831px -88px;
  width: 210px;
  height: 46px;
}
.icon-calendar {
  background-image: url(sprite.png);
  background-position: -825px -219px;
  width: 16px;
  height: 16px;
}
.icon-caret-2 {
  background-image: url(sprite.png);
  background-position: -391px -286px;
  width: 12px;
  height: 13px;
}
.icon-caret-next {
  background-image: url(sprite.png);
  background-position: -1073px -189px;
  width: 8px;
  height: 13px;
}
.icon-caret-prev {
  background-image: url(sprite.png);
  background-position: -1073px -176px;
  width: 8px;
  height: 13px;
}
.icon-caret {
  background-image: url(sprite.png);
  background-position: -902px -219px;
  width: 14px;
  height: 12px;
  display: inline-block;
}
.icon-chat {
  background-image: url(sprite.png);
  background-position: -1008px -243px;
  width: 24px;
  height: 24px;
}
.icon-city {
  background-image: url(sprite.png);
  background-position: -857px -219px;
  width: 15px;
  height: 16px;
}
.icon-clean {
  background-image: url(sprite.png);
  background-position: -198px -312px;
  width: 19px;
  height: 19px;
}
.icon-flashlight {
  background-image: url(sprite.png);
  background-position: -841px -219px;
  width: 16px;
  height: 16px;
}
.icon-info {
  background-image: url(sprite.png);
  background-position: -984px -243px;
  width: 24px;
  height: 24px;
}
.icon-male-2 {
  background-image: url(sprite.png);
  background-position: -872px -219px;
  width: 14px;
  height: 16px;
}
.icon-male-hover {
  background-image: url(sprite.png);
  background-position: -178px -312px;
  width: 20px;
  height: 20px;
}
.icon-male {
  background-image: url(sprite.png);
  background-position: -1062px -134px;
  width: 20px;
  height: 20px;
}
.icon-marker {
  background-image: url(sprite.png);
  background-position: -59px -351px;
  width: 27px;
  height: 37px;
}
.icon-multiple-users-silhouette {
  background-image: url(sprite.png);
  background-position: -953px -243px;
  width: 31px;
  height: 27px;
}
.icon-flashlight {
  background-image: url(sprite.png);
  background-position: -895px -243px;
  width: 30px;
  height: 30px;
}
.icon-photo-camera {
  background-image: url(sprite.png);
  background-position: -724px -219px;
  width: 30px;
  height: 24px;
}
.icon-thread-ball {
  background-image: url(sprite.png);
  background-position: -925px -243px;
  width: 28px;
  height: 30px;
}
.icon-tool {
  background-image: url(sprite.png);
  background-position: -1032px -134px;
  width: 30px;
  height: 30px;
}
.icon-pay {
  background-image: url(sprite.png);
  background-position: -675px -243px;
  width: 186px;
  height: 32px;
}
.icon-photo-camera {
  background-image: url(sprite.png);
  background-position: -886px -219px;
  width: 16px;
  height: 13px;
}
.icon-print {
  background-image: url(sprite.png);
  background-position: -861px -243px;
  width: 34px;
  height: 32px;
}
.icon-fb {
  background-image: url(sprite.png);
  background-position: -1038px -176px;
  width: 35px;
  height: 35px;
}
.icon-insta {
  background-image: url(sprite.png);
  background-position: -115px -312px;
  width: 35px;
  height: 35px;
}
.icon-vk {
  background-image: url(sprite.png);
  background-position: -1041px -88px;
  width: 35px;
  height: 35px;
}
.icon-speedometer {
  background-image: url(sprite.png);
  background-position: -754px -219px;
  width: 31px;
  height: 21px;
}
.icon-start-and-finish {
  background-image: url(sprite.png);
  background-position: 0px -351px;
  width: 59px;
  height: 65px;
}
.icon-bike-of-a-gymnast {
  background-image: url(sprite.png);
  background-position: -361px -286px;
  width: 30px;
  height: 18px;
}
.icon-bike {
  background-image: url(sprite.png);
  background-position: -1032px -243px;
  width: 30px;
  height: 18px;
}
.icon-car-of-hatchback-model {
  background-image: url(sprite.png);
  background-position: -785px -219px;
  width: 40px;
  height: 16px;
}
.icon-footsteps-silhouette-variant {
  background-image: url(sprite.png);
  background-position: -86px -351px;
  width: 22px;
  height: 30px;
}
.icon-wall-clock {
  background-image: url(sprite.png);
  background-position: -150px -312px;
  width: 28px;
  height: 28px;
}
