* {
  margin: 0;
  padding: 0; }

body {
  padding: 0;
  margin: 0;
  border: 0;
  color: #fff;
  background: #000;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1 {
  font-size: 44px;
  text-align: center; }

h2 {
  font-size: 36px;
  text-align: center; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

i {
  display: inline-block; }

.navbar-right {
  margin-right: 15px; }

.none-bg {
  background: none !important; }

.gray {
  color: #fefefe;
  font-weight: 100; }

.btn {
  background-color: transparent;
  text-shadow: none;
  color: #fff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: #fff !important;
    background-color: transparent;
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.bg1 {
  background: url(../img/bg/header-1.png) no-repeat center top !important; }

.bg2 {
  background: url(../img/bg/header-2.png) no-repeat center top !important; }

.mt-text {
  margin-top: 10px !important; }

.mt-content {
  margin-top: -245px !important; }

.mt-a-index {
  margin-top: 60px !important; }

.f-bg {
  background: url(../img/bg/footer.png) no-repeat center bottom !important;
  min-height: 326px;
  vertical-align: bottom;
  position: relative; }
  .f-bg > div {
    position: relative;
    min-height: 306px; }
    .f-bg > div .pay span, .f-bg > div .social span {
      float: none;
      display: none; }
    .f-bg > div > div {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0; }

.modal {
  padding-right: 0 !important; }

.modal-dialog {
  width: 555px;
  margin-left: auto;
  margin-right: auto; }

.modal-content {
  background: rgba(111, 61, 62, 0.95);
  display: block; }
  .modal-content h4 {
    font-size: 36px;
    text-align: center;
    font-weight: 900; }
  .modal-content .modal-header {
    border-bottom: 0; }
  .modal-content .modal-body {
    padding: 0 30px 30px 30px;
    font-size: 18px;
    line-height: 30px; }
    .modal-content .modal-body > div {
      margin: 10px 0; }
      .modal-content .modal-body > div:first-of-type {
        margin-top: 0; }
  .modal-content ::-webkit-input-placeholder {
    color: #ccc; }
  .modal-content ::-moz-placeholder {
    color: #ccc; }
  .modal-content :-ms-input-placeholder {
    color: #ccc; }
  .modal-content ::placeholder {
    color: #ccc; }
  .modal-content .modal-footer {
    display: none; }
  .modal-content .form-control {
    display: inline-block;
    font-size: 16px;
    font-weight: 300; }
  .modal-content #name {
    width: 245px;
    margin-left: 10px;
    background-image: url("../img/icons/male-2.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 30px; }
  .modal-content strong span {
    font-weight: normal;
    font-size: 16px; }
  .modal-content #sertif {
    width: 220px;
    float: right; }
  .modal-content .submit {
    width: 100%;
    background: #FF1920;
    font-size: 24px;
    padding: 3px;
    margin-top: 10px; }
  .modal-content .close {
    opacity: 1;
    text-shadow: none;
    color: #fff; }
    .modal-content .close:hover {
      color: #000; }
  .modal-content .dropdown {
    display: inline-block;
    float: right; }
    .modal-content .dropdown button {
      width: 350px;
      text-align: left;
      font-size: 16px;
      background: #fff;
      color: #ccc;
      font-weight: 300; }
    .modal-content .dropdown .icon-caret {
      position: relative;
      top: 5px;
      float: right;
      background-position: -391px -286px !important; }
  .modal-content .count {
    font-weight: 900; }
  .modal-content .flr {
    float: right; }

header {
  min-height: 749px; }
  header .top {
    text-transform: uppercase; }
    header .top .navbar-brand {
      display: block;
      width: 250px;
      color: #fff; }
      header .top .navbar-brand img, header .top .navbar-brand span {
        float: left; }
      header .top .navbar-brand img {
        margin-right: 10px; }
      header .top .navbar-brand span {
        padding-top: 3px;
        font-size: 24px;
        font-weight: lighter;
        line-height: 28px; }
    header .top .navbar-left {
      padding-top: 25px;
      float: none !important;
      text-align: center; }
      header .top .navbar-left li {
        display: inline-block;
        float: none;
        padding: 0; }
        header .top .navbar-left li:last-of-type a {
          border-right: 0; }
      header .top .navbar-left a {
        font-size: 18px;
        color: #fff;
        font-weight: lighter;
        padding: 2px 10px 8px 10px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid transparent; }
        header .top .navbar-left a:hover, header .top .navbar-left a:focus {
          background: none;
          border-bottom: 1px solid #fff; }
    header .top .navbar-right {
      padding-top: 18px;
      float: right !important;
      margin-left: 40px; }
      header .top .navbar-right .btn {
        background-color: transparent;
        display: block;
        width: 115px;
        color: #fff;
        line-height: 42px;
        font-size: 16px;
        padding: 0;
        font-weight: 500;
        border: none;
        border-color: transparent; }
        header .top .navbar-right .btn:hover, header .top .navbar-right .btn:active, header .top .navbar-right .btn:focus {
          color: #000; }
          header .top .navbar-right .btn:hover > i, header .top .navbar-right .btn:active > i, header .top .navbar-right .btn:focus > i {
            background-position: -178px -312px; }
      header .top .navbar-right i {
        position: relative;
        margin-right: 5px;
        top: 2px; }
  header .center {
    padding-top: 150px;
    margin-top: -83px;
    background: url(../img/bg/header/3.png) no-repeat center top;
    min-height: 759px; }
    header .center h1, header .center h2 {
      text-shadow: 1px 1px 1px #000; }
    header .center h1 {
      font-weight: 900;
      padding-top: 15px; }
    header .center a {
      display: block;
      margin: 25px auto;
      text-align: center;
      width: auto;
      color: #fff;
      max-width: 364px;
      height: 67px;
      font-size: 29px;
      background-color: rgba(0, 0, 0, 0.5);
      line-height: 67px;
      padding: 0;
      font-weight: 100;
      border-color: transparent;
      text-shadow: none; }
      header .center a:hover, header .center a:focus {
        background: #fff;
        text-shadow: none; }
  header .bg1 {
    background: url(../img/bg/header/1.png) no-repeat center top !important; }
  header .bg2 {
    background: url(../img/bg/header/2.png) no-repeat center top !important; }
  header .bg3 {
    background: url(../img/bg/header/3.png) no-repeat center top !important; }
  header .plashka {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    margin-top: -410px;
    padding: 12px; }
  header .bottom {
    margin-top: -249px;
    text-align: center;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.75);
    margin-bottom: 20px; }

.open > .dropdown-toggle.btn-default, .dropdown-toggle.btn-default:hover {
  background: #fff;
  color: #000; }
  .open > .dropdown-toggle.btn-default span, .dropdown-toggle.btn-default:hover span {
    background-position: -391px -286px; }

article {
  margin-top: -160px;
  min-height: 800px;
  z-index: 5; }
  article .navigation {
    text-align: center; }
    article .navigation .zero a:first-of-type {
      float: left; }
    article .navigation .zero a:last-of-type {
      float: right; }
    article .navigation .one .center {
      max-width: 900px;
      margin: 0 auto;
      position: relative; }
      article .navigation .one .center > a {
        margin-right: 10px;
        margin-bottom: 10px; }
        article .navigation .one .center > a:hover span, article .navigation .one .center > a:focus span, article .navigation .one .center > a:active span {
          background-position: -391px -286px; }
    article .navigation .one .dropdown-menu {
      top: 77%; }
    article .navigation .btn-lg {
      font-size: 24px;
      line-height: 25px;
      text-transform: uppercase; }
      article .navigation .btn-lg:last-of-type {
        margin-right: 0; }
    article .navigation .btn-xs {
      display: inline-block;
      background: #333;
      padding: 3px 10px;
      font-size: 14px;
      margin: 10px 0 20px 10px; }
      article .navigation .btn-xs span {
        position: relative;
        top: 4px; }
    article .navigation .icon-caret {
      margin-left: 10px; }
    article .navigation .gray .center {
      max-width: 270px;
      margin: 0 auto;
      position: relative; }
      article .navigation .gray .center .dropdown-menu {
        left: 108px;
        top: 34px; }
  article .list h2.other-title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px; }
  article .list .col {
    padding-left: 15px; }
    article .list .col .col {
      padding-left: 0;
      padding-right: 15px; }
      article .list .col .col:first-of-type {
        padding-right: 0; }
  article .list figure {
    max-width: 361px;
    position: relative;
    margin: 0 auto 20px; }
    article .list figure img {
      z-index: -1;
      position: absolute;
      max-width: 355px;
      top: 2px;
      left: 3px;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
    article .list figure .top {
      background: rgba(0, 0, 0, 0.6);
      line-height: 35px;
      padding-left: 20px;
      font-size: 18px;
      font-weight: 900; }
    article .list figure .center .btn {
      background: rgba(198, 21, 23, 0.8);
      font-size: 22px;
      font-weight: 300;
      margin-top: 8px;
      margin-left: 15px;
      border: 1px solid #fff; }
      article .list figure .center .btn:hover {
        background: #aa2724 !important;
        color: #fff !important; }
    article .list figure .bottom {
      position: absolute;
      bottom: -2px;
      height: 120px;
      background: rgba(0, 0, 0, 0.7); }
      article .list figure .bottom .desc h3 {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: -0px; }
      article .list figure .bottom .desc p {
        font-size: 11px;
        margin-bottom: 0;
        font-weight: 100; }
      article .list figure .bottom .icons {
        position: absolute; }
  article #pagination {
    text-align: center; }
    article #pagination .col {
      padding-right: 0; }
    article #pagination .pagination {
      margin-top: 0; }
    article #pagination li {
      display: inline-block; }
      article #pagination li a {
        background-color: transparent;
        border-color: transparent;
        color: #fff;
        font-size: 18px;
        padding: 0 4px;
        font-weight: bold; }
      article #pagination li .icon-caret-prev, article #pagination li .icon-caret-next {
        position: relative;
        width: 9px;
        height: 15px;
        padding: 2px;
        padding-top: 2px;
        top: -7px; }
      article #pagination li .icon-caret-prev {
        background-position: -1074px -176px;
        width: 9px;
        height: 15px; }
    article #pagination .disable {
      opacity: 0.5; }
  article #description {
    text-align: center;
    margin-bottom: 10px; }
  article .icon-map {
    background-image: url("../img/icons/marker.png");
    width: 27px;
    height: 37px;
    float: left;
    margin-right: 5px; }
  article .round-price {
    width: 67px;
    height: 67px;
    text-align: center;
    background: #C71318;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #fff;
    padding-top: 12px;
    margin: 4px auto 8px;
    font-size: 18px;
    font-weight: 100;
    line-height: 18px; }
    article .round-price strong {
      font-weight: 900;
      display: block; }
  article .icons {
    position: relative;
    margin-bottom: 0px;
    width: 100%; }
    article .icons .icon-mini {
      height: 38px; }
    article .icons div > div {
      margin: 0 auto; }
    article .icons .col {
      padding-right: 0;
      padding-left: 0; }
    article .icons i {
      float: left;
      margin-left: 9px;
      margin-right: 5px; }
    article .icons strong {
      display: block;
      font-weight: 900; }
    article .icons p {
      padding-top: 5px;
      font-size: 12px; }
  article .add-q .caretka {
    background-color: #fff !important;
    color: #000 !important; }
    article .add-q .caretka .icon-caret {
      background-image: url("../img/icons/caret-2.png");
      width: 12px;
      height: 13px;
      background-position: 0 0;
      position: relative;
      top: 3px; }
  article .add-q .img {
    background: url(../img/icons/border/big.png) no-repeat;
    position: relative;
    max-width: 244px;
    height: 220px;
    background-size: 244px 214px; }
    article .add-q .img input[type="file"] {
      font-family: "Roboto", sans-serif; }
    article .add-q .img img {
      position: absolute;
      max-width: 240px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      top: 2px;
      left: 2px; }
  article .add-q .data {
    margin-top: 10px; }
    article .add-q .data .mini {
      position: relative;
      float: left;
      width: 120px;
      margin-right: 9px;
      top: 8px;
      background: url(../img/icons/border/small.png) no-repeat;
      background-size: 121px 40px;
      height: 40px;
      padding-top: 7px;
      padding-left: 7px; }
      article .add-q .data .mini label {
        position: absolute;
        font-size: 14px;
        font-weight: 300;
        top: -18px;
        left: 0; }
      article .add-q .data .mini input {
        background: #fff;
        border: none;
        width: 65px;
        padding: 5px;
        line-height: 15px;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        text-align: center;
        color: #000;
        font-weight: bold;
        outline: none; }
      article .add-q .data .mini .icon {
        float: left;
        width: 31px;
        height: 27px;
        margin-right: 10px; }
    article .add-q .data .time .icon {
      background: url(../img/icons/wall-clock.png) no-repeat left center; }
    article .add-q .data .group .icon {
      background: url(../img/icons/multiple-users-silhouette.png) no-repeat left center; }
    article .add-q .data .distance {
      width: 150px;
      background-size: 150px 40px;
      padding-left: 10px; }
      article .add-q .data .distance .icon {
        background: url(../img/icons/speedometer.png) no-repeat left center;
        position: relative;
        top: -3px; }
      article .add-q .data .distance span {
        display: inline-block;
        margin-left: 3px; }
    article .add-q .data .price {
      width: 175px;
      background: none;
      font-size: 18px;
      margin-left: 0; }
      article .add-q .data .price label {
        position: relative;
        text-transform: uppercase;
        float: left;
        left: 0;
        top: 0; }
      article .add-q .data .price input {
        float: left;
        padding: 6px 5px;
        margin: 0 5px 0 10px;
        font-size: 14px;
        position: relative;
        top: -2px; }
      article .add-q .data .price label, article .add-q .data .price span {
        font-size: 18px !important;
        font-weight: 300; }
    article .add-q .data .calendar {
      float: none;
      background: none;
      font-size: 18px;
      margin-right: 0;
      width: 450px;
      padding-left: 0;
      margin-top: 50px; }
      article .add-q .data .calendar label:nth-of-type(1) {
        position: relative;
        float: left;
        left: 0;
        top: 0; }
      article .add-q .data .calendar label:nth-of-type(2) {
        float: right;
        position: absolute;
        top: 8px;
        left: auto;
        right: 0; }
        article .add-q .data .calendar label:nth-of-type(2) input {
          float: right;
          margin: 0;
          padding: 0;
          width: auto;
          top: 5px;
          margin-left: 7px; }
      article .add-q .data .calendar input {
        float: left;
        padding: 2px 35px 2px 5px;
        margin: 0 0 0 10px;
        font-size: 18px;
        position: relative;
        font-weight: 300;
        top: -2px;
        width: 191px;
        text-align: left; }
      article .add-q .data .calendar label, article .add-q .data .calendar span {
        font-size: 18px !important;
        font-weight: 300; }
      article .add-q .data .calendar .icon {
        position: absolute;
        left: 215px;
        bottom: 15px;
        background: url(../img/icons/calendar.png) no-repeat left center;
        width: 16px;
        height: 16px; }
  article .add-q .file_upload {
    position: relative;
    overflow: hidden;
    font-size: 1em;
    line-height: 40px;
    max-width: 244px;
    height: 42px;
    background: url(../img/icons/border/small.png) no-repeat;
    background-size: 244px 40px;
    text-transform: uppercase;
    font-size: 24px;
    border-right: 4px;
    text-transform: uppercase;
    margin-top: 10px; }
  article .add-q .file_upload > button {
    width: 100%;
    height: 100%; }
  article .add-q .file_upload > div {
    padding-left: 1em; }
  article .add-q .file_upload input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(20);
            transform: scale(20);
    letter-spacing: 10em;
    -ms-transform: scale(20);
    opacity: 0;
    cursor: pointer; }
  article .add-q .file_upload input[type=file] {
    position: absolute;
    top: 0;
    opacity: 0; }
  article .add-q .file_upload input[type=file] {
    position: absolute;
    top: 0;
    visibility: hidden; }
  article .add-q .file_upload.focus {
    -webkit-box-shadow: 0 0 5px rgba(0, 30, 255, 0.4);
            box-shadow: 0 0 5px rgba(0, 30, 255, 0.4); }
  article .add-q .file_upload > button {
    background: transparent;
    border: none;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase !important;
    -webkit-border-radius: 4px !important;
            border-radius: 4px !important;
    cursor: pointer;
    font-weight: 300; }
  article .add-q .file_upload:hover > button {
    background: #fff;
    color: #000;
    -webkit-border-radius: 5px !important;
            border-radius: 5px !important; }
  article .add-q .one {
    margin-bottom: 18px; }
    article .add-q .one .col-md-9 .form-group {
      margin-bottom: 10px; }
    article .add-q .one .foz16 label {
      font-size: 16px !important;
      font-weight: 300 !important; }
  article .add-q .icon-mini-info {
    float: left;
    display: inline-block;
    background: url("../img/icons/info.png");
    background-size: 100%;
    width: 17px;
    height: 17px;
    margin-right: 5px; }
  article .add-q .marsh {
    max-width: 460px;
    font-size: 15px;
    font-weight: 300;
    background: url(../img/icons/border/large-small.png) no-repeat;
    background-size: 460px 90px;
    height: 100px;
    padding-top: 7px;
    padding-left: 5px;
    margin-left: 0; }
    article .add-q .marsh .icon {
      float: left;
      background: url(../img/icons/start-and-finish.png) no-repeat center;
      width: 59px;
      height: 65px; }
    article .add-q .marsh input {
      color: #000;
      font-size: 14px; }
    article .add-q .marsh input[type="text"] {
      font-size: 12px;
      padding: 2px 10px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: none;
      width: 100%;
      font-size: 16px; }
    article .add-q .marsh .row {
      margin-bottom: 5px; }
  article .add-q .two .m1 {
    padding-right: 0; }
  article .add-q .two .m0 {
    padding-right: 0; }
    article .add-q .two .m0 .col {
      padding-left: 0;
      padding-right: 0; }
    article .add-q .two .m0 .col-md-6 {
      font-size: 18px;
      line-height: 32px; }
      article .add-q .two .m0 .col-md-6:last-of-type {
        padding-left: 0;
        padding-right: 0;
        text-align: right; }
    article .add-q .two .m0 input {
      background: #fff;
      border: none;
      width: 65px;
      padding: 5px;
      line-height: 15px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      text-align: center;
      color: #000;
      font-weight: bold;
      outline: none; }
    article .add-q .two .m0 .dropdown {
      display: inline-block;
      margin-left: 10px; }
    article .add-q .two .m0 .caretka {
      margin-left: 5px;
      width: 150px;
      text-align: left;
      font-size: 14px;
      padding-left: 12px;
      color: #949494 !important;
      text-align: left; }
      article .add-q .two .m0 .caretka .icon-caret {
        display: inline-block;
        position: relative;
        float: right;
        margin-right: 5px;
        top: 5px; }
  article .add-q .two .map {
    margin-top: 15px;
    padding-right: 0; }
    article .add-q .two .map span {
      float: left;
      color: #e90909;
      font-size: 16px;
      font-weight: bold;
      line-height: 40px;
      margin-right: 15px; }
    article .add-q .two .map .form-group {
      float: left;
      width: 74.3%; }
  article .add-q .three {
    color: #fff;
    margin: 20px 0; }
    article .add-q .three .col {
      padding-left: 0;
      padding-right: 0; }
    article .add-q .three .dropdown {
      display: inline-block; }
      article .add-q .three .dropdown:first-of-type {
        margin-left: 7px; }
      article .add-q .three .dropdown button {
        background-color: #fff;
        color: #000;
        padding: 5px;
        width: 165px;
        text-align: left;
        color: #818181; }
      article .add-q .three .dropdown .icon-caret {
        background-image: url("../img/icons/caret-2.png");
        width: 11px;
        height: 12px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        top: 5px;
        margin-left: 10px;
        float: right;
        margin-right: 2px; }
      article .add-q .three .dropdown .icon-photo {
        background-image: url("../img/icons/photo-camera.png");
        width: 16px;
        height: 13px;
        position: relative;
        top: 2px;
        margin-left: 5px;
        margin-right: 10px;
        float: left; }
      article .add-q .three .dropdown .icon-ligher {
        display: inline-block;
        background-image: url("../img/icons/flashlight.png");
        width: 16px;
        height: 16px;
        position: relative;
        top: 2px;
        margin-left: 5px;
        margin-right: 10px;
        float: left; }
    article .add-q .three .c {
      display: inline-block;
      margin-right: 4px; }
    article .add-q .three .foz16 {
      font-size: 16px; }
    article .add-q .three .add-minus {
      font-size: 16px;
      float: right;
      display: inline-block;
      width: 12px;
      height: 30px;
      line-height: 6px;
      margin-left: 3px; }
      article .add-q .three .add-minus span {
        cursor: pointer; }
        article .add-q .three .add-minus span:first-of-type {
          display: inline-block;
          background: url("../img/icons/add.png") no-repeat;
          width: 12px;
          height: 12px;
          background-size: 100%;
          margin-top: 2px;
          margin-bottom: 2px; }
        article .add-q .three .add-minus span:last-of-type {
          display: inline-block;
          background: url("../img/icons/clean.png") no-repeat;
          width: 13px;
          height: 13px;
          background-size: 100%; }
  article .add-q .levels .icon-info {
    display: inline-block;
    background-image: url("../img/icons/info.png") no-repeat center center;
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 15px; }
  article .add-q .levels .lvl {
    font-size: 18px;
    font-weight: bold; }
    article .add-q .levels .lvl:after {
      content: '';
      position: relative;
      display: inline-block;
      border-bottom: 1px dashed #A4A4A4;
      width: 91%;
      float: right;
      top: 12px; }
  article .add-q .levels .add-task {
    min-height: 325px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background: url("../img/icons/border/lvls.png") no-repeat center top;
    background-size: 1145px 100%;
    margin-top: 15px; }
    article .add-q .levels .add-task input {
      font-weight: 300; }
    article .add-q .levels .add-task .form-group {
      margin-bottom: 10px; }
      article .add-q .levels .add-task .form-group input {
        height: 27px; }
      article .add-q .levels .add-task .form-group textarea {
        height: 62px; }
    article .add-q .levels .add-task .col-md-2 {
      font-size: 18px;
      font-weight: 300;
      text-align: right;
      line-height: 27px; }
    article .add-q .levels .add-task .pds {
      font-size: 14px !important; }
      article .add-q .levels .add-task .pds i {
        display: inline-block;
        float: left;
        background: url("../img/icons/chat.png");
        width: 24px;
        height: 24px;
        margin-left: 15px; }
    article .add-q .levels .add-task .col-md-3 {
      line-height: 27px; }
      article .add-q .levels .add-task .col-md-3 .vremya {
        float: left; }
      article .add-q .levels .add-task .col-md-3 .form-group {
        float: left;
        display: inline-block;
        width: 85px;
        margin-left: 25px; }
      article .add-q .levels .add-task .col-md-3 .min {
        float: right; }
    article .add-q .levels .add-task .otv i {
      float: left;
      background-image: url("../img/icons/info.png");
      background-position: center;
      width: 24px;
      height: 24px;
      margin-left: 70px; }
    article .add-q .levels .add-task .photo {
      line-height: 20px;
      font-size: 14px; }
  article .add-q .levels .buttons {
    font-size: 16px;
    font-weight: 300;
    margin-top: 18px; }
    article .add-q .levels .buttons button {
      background-image: url("../img/icons/border/large-mini.png");
      width: 201px;
      text-align: left; }
    article .add-q .levels .buttons .icon {
      display: inline-block;
      float: left;
      margin-right: 10px; }
    article .add-q .levels .buttons .plus .icon {
      background: url("../img/icons/add.png");
      width: 17px;
      height: 17px; }
    article .add-q .levels .buttons .minus {
      float: right; }
      article .add-q .levels .buttons .minus .icon {
        background: url("../img/icons/clean.png");
        width: 19px;
        height: 19px; }
  article .add-q .levels .final {
    font-weight: 300;
    margin-top: 90px; }
    article .add-q .levels .final button {
      font-size: 23px;
      text-transform: uppercase;
      width: 315px;
      height: 42px;
      line-height: 42px;
      background-image: url("../img/icons/border/large.png");
      background-size: 315px 42px;
      padding: 0; }
    article .add-q .levels .final .chern {
      float: right; }
    article .add-q .levels .final .add-q {
      background-color: rgba(130, 160, 40, 0.6); }
  article .this-q .icons {
    margin-bottom: 15px; }
  article .this-q .img {
    max-width: 357px;
    height: 313px;
    background-image: url("../img/icons/border/big.png");
    background-size: 100% 100%;
    margin: 0 auto; }
    article .this-q .img img {
      position: relative;
      display: block;
      top: 2px;
      left: 2px;
      bottom: 2px;
      max-width: -webkit-calc(100% - 4px);
      max-width: calc(100% - 4px); }
  article .this-q .right .one {
    margin-bottom: 5px; }
    article .this-q .right .one .col-md-10 {
      font-size: 16px;
      padding-top: 5px; }
      article .this-q .right .one .col-md-10 .icon-map {
        margin-right: 15px; }
      article .this-q .right .one .col-md-10 .red {
        color: #C71318;
        font-weight: bold; }
      article .this-q .right .one .col-md-10 .address {
        display: block;
        font-weight: 300; }
    article .this-q .right .one .round-price {
      position: relative;
      margin-top: -10px; }
  article .this-q .right .two {
    font-size: 14px;
    background-image: url("../img/icons/border/large-small.png");
    background-size: 750px 100%;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat; }
    article .this-q .right .two .icon-start-and-finish {
      margin: 0 auto; }
    article .this-q .right .two .icon {
      float: left;
      height: 120px; }
    article .this-q .right .two .row {
      margin-bottom: 3px; }
    article .this-q .right .two .foz25 {
      font-size: 20px;
      font-weight: 900; }
    article .this-q .right .two .lh25 {
      line-height: 25px; }
    article .this-q .right .two .col-md-7 .col-md-6:nth-of-type(1) {
      font-weight: 300; }
    article .this-q .right .two .col-md-7 .col-md-6:nth-of-type(2) {
      font-weight: bold;
      text-align: right; }
    article .this-q .right .two .transport {
      padding-left: 15px; }
      article .this-q .right .two .transport .icons-transport div {
        display: inline-block;
        line-height: 35px;
        margin-right: 12px; }
      article .this-q .right .two .transport h4 {
        font-size: 14px;
        font-weight: 900;
        margin-top: 0; }
      article .this-q .right .two .transport:before {
        display: block;
        content: '';
        position: absolute;
        height: 67px;
        width: 1px;
        background: #fff;
        left: 5px; }
  article .this-q .right .three {
    padding: 15px 0;
    border-top: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
    margin: 10px 0 20px; }
    article .this-q .right .three .col-xs-12 {
      padding-left: 0;
      padding-right: 0; }
    article .this-q .right .three h3 {
      margin: 0 0 5px;
      font-weight: 900; }
    article .this-q .right .three p {
      font-weight: 300; }
      article .this-q .right .three p:last-of-type {
        margin-bottom: 0; }
  article .this-q .right .four .btn {
    background: #C71318;
    font-weight: 900;
    font-size: 23px;
    width: 210px; }
  article .this-q .right .four .must .title {
    float: left;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 900; }
  article .this-q .right .four .must .icons-must {
    float: left;
    vertical-align: bottom;
    margin-left: 30px;
    padding-top: 10px; }
    article .this-q .right .four .must .icons-must div {
      display: inline-block;
      margin-right: 12px; }
    article .this-q .right .four .must .icons-must .icon-photo-camera {
      background-position: -724px -219px;
      width: 30px;
      height: 23px;
      position: relative;
      top: -3px; }
  article .this-q .right .four .must .perechen {
    float: left;
    margin-left: 30px;
    padding-top: 15px; }
  article .list-q {
    margin-top: 25px; }
    article .list-q .all {
      display: block;
      margin: 40px auto 0; }
    article .list-q > .row {
      margin-bottom: 50px; }
      article .list-q > .row:last-of-type {
        margin-bottom: 0; }
    article .list-q .left .img {
      max-width: 295px;
      height: 230px;
      background-image: url("../img/icons/border/big.png");
      background-size: 100% 100%; }
      article .list-q .left .img img {
        position: relative;
        display: block;
        top: 2px;
        left: 2px;
        bottom: 2px;
        max-width: -webkit-calc(100% - 4px);
        max-width: calc(100% - 4px); }
    article .list-q .left .round-price {
      position: absolute;
      bottom: 5px;
      left: 30px; }
    article .list-q .right h2 {
      text-align: left;
      margin: 0 0 5px;
      font-size: 30px;
      font-weight: 900; }
    article .list-q .right p {
      font-weight: 300; }
    article .list-q .right .one .col-lg-2 {
      padding-top: 35px; }
    article .list-q .right .one .edit {
      background: #439019;
      margin-bottom: 7px; }
    article .list-q .right .one .clear {
      background: #FF1920; }
    article .list-q .right .one button {
      width: 120px;
      text-align: center;
      font-size: 12px;
      font-weight: 900;
      height: 29px; }
    article .list-q .right .two {
      margin-top: 20px; }
      article .list-q .right .two .icons {
        margin-left: -15px; }
      article .list-q .right .two .other-info {
        margin-top: 22px; }
        article .list-q .right .two .other-info span {
          display: block;
          margin-bottom: 5px; }
          article .list-q .right .two .other-info span:last-of-type {
            margin-bottom: 0; }
      article .list-q .right .two .marshrut {
        padding: 15px 10px;
        background: url(../img/icons/border/large-small.png);
        background-size: 100% 100%; }
        article .list-q .right .two .marshrut .col-md-10 {
          font-size: 13px;
          padding-top: 12px;
          text-align: right; }
          article .list-q .right .two .marshrut .col-md-10 .col-md-5 {
            font-weight: 300; }
          article .list-q .right .two .marshrut .col-md-10 .col-md-7 {
            font-weight: 500; }
          article .list-q .right .two .marshrut .col-md-10 .row {
            margin-bottom: 5px; }
  article .other {
    margin-top: 60px; }
  article .m40 {
    margin-left: 40px;
    margin-right: 40px; }
  article .free-sertif {
    position: relative;
    z-index: 0; }
    article .free-sertif > .row {
      margin-bottom: 14px;
      position: relative;
      margin-bottom: 40px; }
      article .free-sertif > .row:before {
        z-index: 1;
        content: '';
        position: absolute;
        background: url("../img/bg/bant.png");
        width: 1140px;
        height: 282px;
        top: 0;
        left: 15px; }
    article .free-sertif input {
      height: 26px;
      background: #fff !important;
      cursor: text !important;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
    article .free-sertif img {
      position: absolute;
      max-width: 1140px;
      margin-left: 15px; }
    article .free-sertif h2 {
      position: relative;
      text-align: right;
      right: 0;
      top: -7px; }
      article .free-sertif h2 span {
        display: inline-block;
        max-width: 660px;
        text-align: right;
        padding: 0 35px;
        line-height: 43px;
        font-size: 43px;
        font-weight: 300; }
      article .free-sertif h2 .red-h {
        color: #C71318;
        background: #fff;
        padding: 5px 35px;
        margin-bottom: 3px; }
      article .free-sertif h2 .red-h + br + span {
        font-weight: 900;
        margin-bottom: 35px; }
    article .free-sertif .data {
      background: rgba(255, 255, 255, 0.7);
      -webkit-border-radius: 5px;
              border-radius: 5px;
      color: #000;
      font-size: 18px;
      font-weight: 300;
      margin-right: 45px;
      padding: 10px 0;
      position: relative;
      line-height: 25px; }
    article .free-sertif .print {
      display: block;
      z-index: 5;
      background: rgba(199, 19, 24, 0.8);
      font-size: 19px;
      font-weight: bold;
      height: 50px;
      padding: 13px 12px;
      width: 210px;
      margin: 10px auto 0; }
      article .free-sertif .print span {
        float: left;
        display: block;
        position: relative;
        top: -5px; }
      article .free-sertif .print:hover, article .free-sertif .print:active, article .free-sertif .print:focus {
        background: #c71318 !important;
        color: #fff !important; }
    article .free-sertif .zi1 {
      z-index: 1; }
  article .party h2 {
    font-size: 28px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 25px; }
  article .party h2 + .row {
    margin-bottom: 15px; }
  article .party h3 {
    font-size: 23px;
    text-transform: uppercase;
    margin: 20px 0 30px; }
  article .party input {
    font-style: italic; }
  article .party .row {
    margin-bottom: 12px;
    line-height: 25px; }
  article .party .left img {
    -webkit-border-radius: 7px;
            border-radius: 7px; }
  article .party .right {
    background: #4C4C4C;
    min-height: 254px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  article .party .one {
    font-size: 21px;
    font-weight: 300; }
    article .party .one .time {
      font-weight: 900;
      text-align: center;
      font-size: 25px; }
  article .party .three {
    line-height: normal; }
  article .party .next {
    background: #FF1920;
    width: 100%; }
  article .party .help {
    background: #307014;
    width: 100%; }
  article .party button {
    font-size: 17px; }
  article .breadcrumbs {
    position: relative;
    margin-top: 15px;
    margin-bottom: 40px; }
    article .breadcrumbs li {
      list-style: none;
      display: inline-block; }
      article .breadcrumbs li a {
        color: #fff; }
        article .breadcrumbs li a:after {
          display: inline-block;
          content: '-';
          padding-left: 5px;
          padding-right: 2px; }
      article .breadcrumbs li:nth-of-type(2):last-of-type:after {
        width: 85%; }
      article .breadcrumbs li:nth-of-type(3):last-of-type:after {
        width: 80%; }
      article .breadcrumbs li:nth-of-type(4):last-of-type:after {
        width: 70%; }
      article .breadcrumbs li:after {
        right: 0;
        position: absolute;
        display: block;
        content: '';
        height: 3px;
        background: #fff;
        top: 7px; }
  article .content p {
    line-height: 18px; }

footer {
  padding-bottom: 10px; }
  footer .col {
    z-index: 10;
    line-height: 35px; }
  footer .pay span {
    float: right;
    padding-right: 45px; }
  footer .copy {
    font-size: 13px;
    text-align: center; }
  footer .social {
    text-align: right; }
    footer .social span {
      float: left;
      padding-left: 120px; }
    footer .social a {
      display: inline-block;
      margin-left: 5px; }
      footer .social a:hover {
        opacity: 0.5; }

@media screen and (max-width: 1200px) {
  header .top .navbar-left a {
    padding-left: 5px;
    padding-right: 5px; }
  article .this-q .right .two {
    background-image: none !important; }
    article .this-q .right .two .transport {
      padding-top: 10px;
      padding-left: 0 !important;
      text-align: center; }
      article .this-q .right .two .transport:before {
        display: none !important; }
  article .breadcrumbs li:last-of-type:after {
    width: 50% !important; }
  article .free-sertif img {
    max-width: 100%;
    margin-left: 0; }
  article .free-sertif > .row:before {
    display: none; }
  article .free-sertif h2 {
    top: -20px;
    right: -15px; }
  article .free-sertif .print {
    position: absolute;
    margin-top: 0; }
  article .free-sertif .data {
    margin: -30px auto 0; }
  article .party button {
    font-size: 16px !important; }
  article .party br {
    display: none; }
  article .add-q .data .calendar {
    float: none;
    margin: 50px auto 0; }
  article .add-q .marsh {
    margin: 0 auto 20px !important; }
  article .add-q .two .map {
    margin-top: 30px; }
    article .add-q .two .map .form-group {
      float: right !important; }
  article .add-q .levels .add-task {
    background-image: none; }
  article .navigation .zero a {
    width: 220px;
    background-image: none;
    border: 1px solid #fff;
    font-size: 20px; }
  article .list-q .left .img {
    background-image: none;
    height: auto; }
  article .list-q .right .two .marshrut {
    margin-top: 20px; } }

@media screen and (max-width: 992px) {
  header .top .navbar-left a {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px; }
  article .navigation .one .dropdown-menu {
    top: 43px;
    left: 3.5%; }
  article .this-q .img {
    height: 302px !important; }
  article .this-q .right .one {
    margin-bottom: 0; }
    article .this-q .right .one .round-price {
      margin-top: 0;
      width: 100%;
      -webkit-border-radius: 0;
              border-radius: 0;
      height: 35px;
      line-height: 35px;
      padding-top: 0;
      background: none;
      border: none;
      margin-bottom: 0; }
      article .this-q .right .one .round-price strong {
        display: inline-block; }
  article .free-sertif h2 {
    margin-top: 70px !important;
    text-align: center !important;
    top: 0 !important;
    right: 0 !important; }
  article .free-sertif .print {
    display: none; }
  article .free-sertif .data {
    background: #fff;
    -webkit-border-radius: 0;
            border-radius: 0; }
  article .free-sertif .col-md-12 {
    padding-left: 0;
    padding-right: 0; }
  article .party .left {
    text-align: center;
    bottom: 20px; }
  article .party .right {
    padding-top: 10px;
    padding-bottom: 10px; }
    article .party .right h3 {
      margin-top: 0;
      text-align: center; }
    article .party .right .col {
      margin-bottom: 10px;
      text-align: center; }
  article .add-q .img {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  article .add-q .file_upload {
    margin: 10px auto 0; }
  article .add-q .data .calendar {
    float: left;
    margin-top: 10px; }
  article .add-q .marsh {
    background-image: none;
    height: auto; }
    article .add-q .marsh .col-md-2 {
      display: none; }
  article .add-q .levels .add-task .col-md-2 {
    text-align: left; }
    article .add-q .levels .add-task .col-md-2 span, article .add-q .levels .add-task .col-md-2 i {
      margin-right: 10px; }
  article .add-q .levels .add-task .col-md-3 {
    float: right;
    width: 35%; }
  article .add-q .levels .add-task .row {
    margin-bottom: 15px; }
  article .add-q .levels .add-task .otv i {
    margin-left: 15px; }
  article .list-q > .row {
    border-bottom: 2px solid #fff;
    padding-bottom: 50px; }
  article .list-q .left .img {
    margin: 0 auto; }
  article .list-q .left .round-price {
    position: relative;
    margin-top: -70px;
    left: -100px;
    margin-bottom: 20px; }
  article .list-q .right {
    text-align: center; }
    article .list-q .right .icon-mini {
      margin-bottom: 8px; }
    article .list-q .right h2 {
      text-align: center; }
    article .list-q .right .one .col-lg-2 {
      padding-top: 0; }
      article .list-q .right .one .col-lg-2 button {
        margin-bottom: 8px; }
    article .list-q .right .two .marshrut .col-md-2 {
      display: none; }
    article .list-q .right .two .marshrut .col-md-10 {
      text-align: center; } }

@media screen and (max-width: 768px) {
  header .top .navbar-right {
    top: 0px;
    left: 60%;
    position: absolute; }
  header .top .navbar-nav {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px; }
  header .top .navbar-toggle {
    top: 12px; }
  header .top .navbar-collapse {
    position: absolute;
    background: #fff;
    top: 90px;
    left: 0;
    width: 100%; }
    header .top .navbar-collapse li {
      display: block; }
      header .top .navbar-collapse li a {
        padding-top: 7px;
        padding-bottom: 7px;
        color: #000; }
  header .bottom br {
    display: none; }
  header .plashka {
    font-size: 36px; }
  .navbar-toggle {
    background-color: #fff; }
    .navbar-toggle .icon-bar {
      background: #000; }
  article .navigation .one .center {
    max-width: 477px; }
    article .navigation .one .center .dropdown-menu {
      top: 43px;
      left: 3.5%; }
  article .this-q .img {
    height: 313px !important;
    margin-bottom: 30px; }
  article .right .four .btn {
    display: block;
    margin: 0 auto 20px; }
  article .breadcrumbs li:last-of-type:after {
    display: none; }
  article .free-sertif h2 {
    margin-top: 4% !important; }
    article .free-sertif h2 br {
      display: none; }
    article .free-sertif h2 span {
      text-align: center; }
  article .free-sertif .red-h {
    display: none; }
  article .free-sertif .col-sm-6:nth-of-type(even) {
    margin-bottom: 10px;
    font-size: 14px; }
  article .free-sertif .col-sm-6 input {
    padding-left: 0; }
  article .party .btn {
    font-size: 14px !important;
    height: auto;
    white-space: normal; }
  article .add-q .data .mini {
    float: none !important;
    display: block;
    margin-bottom: 25px; }
  article .add-q .data .distance {
    margin-bottom: 15px; }
  article .add-q .data .price {
    padding-left: 0;
    margin-bottom: 0; }
  article .add-q .data .calendar {
    margin-left: 0;
    margin-bottom: 5px; }
  article .add-q .two .m0 .col-md-6:last-of-type {
    padding-top: 10px;
    text-align: left; }
  article .add-q .marsh {
    margin-left: 0 !important;
    padding-left: 0; }
    article .add-q .marsh .col-md-10 {
      padding-left: 0; }
  article .add-q .two .map .form-group {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0; }
  article .navigation .zero a {
    display: block;
    float: none !important;
    margin: 0 auto 10px !important; } }

@media screen and (max-width: 700px) {
  article .add-q .levels .final .col-sm-6 {
    width: 100%;
    margin-bottom: 10px; }
    article .add-q .levels .final .col-sm-6 button {
      display: block;
      float: none;
      margin: 0 auto; }
  article .add-q .levels .add-task .col-md-3 {
    width: 45%; } }

@media screen and (max-width: 630px) {
  footer .copy {
    display: none; }
  footer .pay, footer .social {
    width: 50%; } }

@media screen and (max-width: 570px) {
  h1, header .plashka {
    font-size: 36px; }
  header .center a {
    border: 1px solid #fff;
    background-image: none;
    font-size: 20px;
    height: 45px;
    line-height: 45px; }
  header .bottom {
    display: none; }
  article {
    margin-top: -260px; }
    article .navigation .one .center {
      max-width: 240px; }
    article .add-q .levels .add-task .col-md-3 {
      width: 55%; }
  .modal-dialog {
    width: 100%; }
    .modal-dialog .flr, .modal-dialog .dropdown, .modal-dialog input, .modal-dialog button {
      float: none !important;
      width: 100% !important;
      margin-left: 0 !important; }
    .modal-dialog button {
      font-size: 20px;
      white-space: normal; }
    .modal-dialog .modal-content .close {
      text-align: right !important; } }

@media screen and (max-width: 510px) {
  article .free-sertif h2 span {
    font-size: 22px; }
  article .add-q .data .calendar {
    width: auto;
    max-width: 430px; }
    article .add-q .data .calendar label:nth-of-type(2) {
      position: relative;
      display: block;
      float: left;
      top: 5px;
      left: 0;
      right: auto; } }

@media screen and (max-width: 475px) {
  header .top .navbar-right {
    top: 70px;
    left: 38%; }
  header .top .navbar-brand {
    width: auto; }
  header .center {
    margin-top: -100px; }
  article {
    margin-top: -320px; }
  h1 {
    font-size: 28px; }
  h2 {
    font-size: 26px; }
  article .add-q .levels .buttons .col-sm-6 {
    width: 100%; }
    article .add-q .levels .buttons .col-sm-6 button {
      display: block;
      float: none;
      margin: 0 auto 10px; }
  article .add-q .levels .add-task .col-md-3 {
    width: 100% !important; } }

@media screen and (max-width: 400px) {
  article .list figure img {
    position: relative;
    width: 100%;
    left: 0;
    top: 0; }
  article .list .col .col {
    text-align: center;
    padding-right: 0; }
  article .list .icon-big {
    background-image: none;
    width: 100%;
    height: auto; }
  article .list .icon-mini {
    display: none; }
  article .list .top {
    text-align: center;
    padding-left: 0 !important;
    margin-top: -88%; }
  article .list .center a {
    display: block;
    width: 200px;
    margin: 17.5% auto !important; }
  article .list .bottom {
    position: relative !important;
    width: 100%;
    height: auto !important;
    margin-top: 20% !important; }
  article .list .desc p {
    display: none; }
  article .this-q .icons .col {
    width: 100%;
    margin-bottom: 5px; }
  article .this-q .img {
    height: auto !important;
    background-image: none;
    margin-bottom: 10px; }
    article .this-q .img img {
      left: 0;
      top: 0; }
  article .add-q .levels .final .col-sm-6 button {
    width: 220px;
    background-size: 100% 100%; }
  footer .copy {
    display: block; }
  footer .col {
    width: 100%;
    text-align: center; }
  footer .icon-pay, footer a {
    margin: 0 auto; }
  .f-bg {
    min-height: auto;
    padding-top: 50px; }
    .f-bg > div {
      min-height: auto; }
      .f-bg > div > div {
        position: relative; } }

@media screen and (max-width: 350px) {
  article .list-q .left .round-price {
    right: 20%; }
  article .list-q .all {
    width: 210px;
    background-image: none;
    border: 1px solid #fff; } }

@media screen and (max-width: 330px) {
  article {
    margin-top: -300px; } }
