$c1: #000
$c2: #fff
$c3: #C71318
$fz: 14px
$ff: 'Roboto', sans-serif

*
	margin: 0
	padding: 0

body
	padding: 0
	margin: 0
	border: 0
	color: $c2
	background: $c1
	font-size: $fz 
	font-family: $ff
	font-weight: normal
	line-height: normal
	box-sizing: border-box

h1
	font-size: 44px
	text-align: center
h2
	font-size: 36px
	text-align: center
h3
	font-size: 22px
h4
	font-size: 18px
h5
	font-size: 14px
h6
	font-size: 12px
i
	display: inline-block
.navbar-right
	margin-right: 15px
.none-bg
	background: none!important
.gray
	color: #fefefe
	font-weight: 100

.btn
	background-color: transparent
	text-shadow: none
	color: $c2
	border: none
	box-shadow: none
	&:hover, &:focus, &:active
		background-color: $c2!important
		background-color: transparent
		text-shadow: none
		box-shadow: none
.bg1
	background: url(../img/bg/header-1.png) no-repeat center top!important
.bg2
	background: url(../img/bg/header-2.png) no-repeat center top!important
.mt-text
	margin-top: 10px!important
.mt-content
	margin-top: -245px!important
.mt-a-index
	margin-top: 60px!important
.f-bg
	background: url(../img/bg/footer.png) no-repeat center bottom!important
	min-height: 326px
	vertical-align: bottom
	position: relative
	// margin-top: -150px
	> div
		position: relative
		min-height: 306px
		.pay, .social
			span
				float: none
				display: none
		> div
			
			position: absolute
			width: 100%
			left: 0
			bottom: 0
.modal
	padding-right: 0!important
.modal-dialog
	width: 555px
	margin-left: auto
	margin-right: auto
.modal-content
	background: rgba(111,61,62,0.95)
	display: block
	h4
		font-size: 36px
		text-align: center
		font-weight: 900
	.modal-header
		border-bottom: 0
	.modal-body
		padding: 0 30px 30px 30px
		font-size: 18px
		line-height: 30px

		> div
			margin: 10px 0
			&:first-of-type
				margin-top: 0
	::placeholder
		color: #ccc
	.modal-footer
		display: none
	.form-control
		display: inline-block
		font-size: 16px
		font-weight: 300
	#name
		width: 245px
		margin-left: 10px
		background-image: url("../img/icons/male-2.png")
		background-position: 10px center
		background-repeat: no-repeat
		padding-left: 30px
		// width: 14px
		// height: 16px
	strong
		span
			font-weight: normal
			font-size: 16px
	#sertif
		width: 220px
		float: right
	.submit
		width: 100%
		background: #FF1920
		font-size: 24px
		padding: 3px
		margin-top: 10px
	.close
		opacity: 1
		text-shadow: none
		color: $c2
		&:hover
			color: $c1
	.dropdown
		display: inline-block
		float: right
		button
			width: 350px
			text-align: left
			font-size: 16px
			background: $c2
			color: #ccc
			font-weight: 300
		.icon-caret
			position: relative
			top: 5px
			float: right
			background-position: -391px -286px!important
	.count
		font-weight: 900
	.flr
		float: right
header
	min-height: 749px
	.top
		text-transform: uppercase
		.navbar-brand
			display: block
			width: 250px
			color: $c2
			img, span
				float: left
			img
				margin-right: 10px
			span
				padding-top: 3px
				font-size: 24px
				font-weight: lighter
				line-height: 28px
		.navbar-left
			padding-top: 25px
			float: none!important
			text-align: center
			li
				display: inline-block
				float: none
				padding: 0
				&:last-of-type
					a
						border-right: 0
			a
				font-size: 18px
				color: $c2
				font-weight: lighter
				padding: 2px 10px 8px 10px
				border-right: 1px solid rgba(255,255,255, 0.2)
				border-bottom: 1px solid transparent
				&:hover, &:focus
					background: none
					border-bottom: 1px solid $c2
		.navbar-right
			padding-top: 18px
			float: right!important
			margin-left: 40px
			.btn
				background-color: transparent
				display: block
				width: 115px
				// background: none
				color: $c2
				line-height: 42px
				font-size: 16px
				padding: 0
				font-weight: 500
				border: none
				border-color: transparent
				&:hover, &:active, &:focus
					// background-position: -108px -332px
					color: $c1
					> i
						background-position: -178px -312px
			i
				position: relative
				margin-right: 5px
				top: 2px
	.center
		padding-top: 150px
		margin-top: -83px
		background: url(../img/bg/header/3.png) no-repeat center top
		min-height: 759px
		h1,h2
			text-shadow: 1px 1px 1px $c1
		h1
			font-weight: 900
			padding-top: 15px
		a
			display: block
			margin: 25px auto
			text-align: center
			width: auto
			color: $c2
			max-width: 364px
			height: 67px
			font-size: 29px
			background-color: rgba(0,0,0,0.5)
			line-height: 67px
			padding: 0
			font-weight: 100
			border-color: transparent
			// border-radius: 4px
			text-shadow: none
			&:hover, &:focus
				background: $c2
				text-shadow: none
	.bg1
		background: url(../img/bg/header/1.png) no-repeat center top!important
	.bg2
		background: url(../img/bg/header/2.png) no-repeat center top!important
	.bg3
		background: url(../img/bg/header/3.png) no-repeat center top!important
	.plashka
		font-size: 48px
		font-weight: 300
		text-align: center
		background: rgba(0,0,0,0.75)
		margin-top: -410px
		padding: 12px
	.bottom
		margin-top: -249px
		text-align: center
		padding: 20px 0
		background: rgba(0,0,0,0.75)
		margin-bottom: 20px
.open > .dropdown-toggle.btn-default, .dropdown-toggle.btn-default:hover
	background: $c2
	color: $c1
	span
		background-position: -391px -286px
article
	margin-top: -160px
	min-height: 800px
	z-index: 5
	.navigation
		text-align: center
		.zero
			a
				&:first-of-type
					float: left
				&:last-of-type
					float: right
		.one
			.center
				max-width: 900px
				margin: 0 auto
				position: relative
				> a
					margin-right: 10px
					margin-bottom: 10px
					&:hover, &:focus, &:active
						span
							background-position: -391px -286px

			.dropdown-menu
				top: 77%
		.btn-lg
			
			font-size: 24px
			line-height: 25px
			text-transform: uppercase
			&:last-of-type
				margin-right: 0
		.btn-xs
			display: inline-block
			background: #333
			padding: 3px 10px
			font-size: 14px
			margin: 10px 0 20px 10px
			span
				position: relative
				top: 4px
		.icon-caret
			margin-left: 10px
		.gray
			.center
				max-width: 270px
				margin: 0 auto
				position: relative
				.dropdown-menu
					left: 108px
					top: 34px
	.list
		h2.other-title
			font-size: 30px
			font-weight: 500
			text-transform: uppercase 
			margin-bottom: 25px
		.col
			padding-left: 15px
			.col
				padding-left: 0
				padding-right: 15px
				&:first-of-type
					padding-right: 0
		figure
			max-width: 361px
			position: relative
			margin: 0 auto 20px
			img
				z-index: -1
				position: absolute
				max-width: 355px
				top: 2px
				left: 3px
				border-radius: 3px
			.top
				background: rgba(0,0,0,0.6)
				line-height: 35px
				padding-left: 20px
				font-size: 18px
				font-weight: 900
			.center
				.btn
					background: rgba(198,21,23,0.8)
					font-size: 22px
					font-weight: 300
					margin-top: 8px
					margin-left: 15px
					border: 1px solid $c2
					&:hover
						background: rgba(170,39,36,1)!important
						color: $c2!important
			.bottom
				position: absolute
				bottom: -2px
				height: 120px
				background: rgba(0,0,0,0.7)
				.desc
					h3
						font-size: 16px
						margin-top: 4px
						margin-bottom: -0px
					p
						font-size: 11px
						margin-bottom: 0
						font-weight: 100
				.icons
					position: absolute
	#pagination
		text-align: center
		.col
			padding-right: 0
		.pagination
			margin-top: 0
		li
			display: inline-block
			a
				background-color: transparent
				border-color: transparent
				color: $c2
				font-size: 18px
				padding: 0 4px
				font-weight: bold
			.icon-caret-prev, .icon-caret-next
				position: relative
				width: 9px
				height: 15px
				padding: 2px
				padding-top: 2px
				top: -7px
			.icon-caret-prev
				background-position: -1074px -176px
				width: 9px
				height: 15px
		.disable
			opacity: 0.5
	#description
		text-align: center
		margin-bottom: 10px


	.icon-map
		background-image: url("../img/icons/marker.png")
		width: 27px
		height: 37px
		float: left
		margin-right: 5px
	.round-price
		width: 67px
		height: 67px
		text-align: center
		background: $c3
		border-radius: 50%
		border: 2px solid $c2
		padding-top: 12px
		margin: 4px auto 8px
		font-size: 18px
		font-weight: 100
		line-height: 18px
		strong
			font-weight: 900
			display: block
						
	.icons
		position: relative
		margin-bottom: 0px
		width: 100%
		.icon-mini
			height: 38px
		div > div
			margin: 0 auto
		.col
			padding-right: 0
			padding-left: 0
		i
			float: left
			margin-left: 9px
			margin-right: 5px
		strong
			display: block
			font-weight: 900
		p
			padding-top: 5px
			font-size: 12px
	.add-q
		.caretka
			background-color: $c2!important
			color: $c1!important
			.icon-caret
				background-image: url("../img/icons/caret-2.png")
				width: 12px
				height: 13px
				background-position: 0 0
				position: relative
				top: 3px
		.img
			background: url(../img/icons/border/big.png) no-repeat
			position: relative
			max-width: 244px
			height: 220px
			background-size: 244px 214px
			input[type="file"]
				font-family: $ff
			img
				position: absolute
				max-width: 240px
				border-radius: 4px
				top: 2px
				left: 2px
		.data
			margin-top: 10px
			.mini
				position: relative
				float: left
				width: 120px
				margin-right: 9px
				top: 8px
				background: url(../img/icons/border/small.png) no-repeat
				background-size: 121px 40px
				height: 40px
				padding-top: 7px
				padding-left: 7px
				label
					position: absolute
					font-size: 14px
					font-weight: 300
					top: -18px
					left: 0
				input
					background: $c2
					border: none
					width: 65px
					padding: 5px
					line-height: 15px
					border-radius: 5px
					text-align: center
					color: $c1
					font-weight: bold
					outline: none
				.icon
					float: left
					width: 31px
					height: 27px
					margin-right: 10px
			.time .icon
				background: url(../img/icons/wall-clock.png) no-repeat left center
			.group .icon
				background: url(../img/icons/multiple-users-silhouette.png) no-repeat left center
			.distance
				width: 150px
				background-size: 150px 40px
				padding-left: 10px
				.icon
					background: url(../img/icons/speedometer.png) no-repeat left center
					position: relative
					top: -3px
				span
					display: inline-block
					margin-left: 3px
			.price
				width: 175px
				background: none
				font-size: 18px
				margin-left: 0
				label
					position: relative
					text-transform: uppercase
					float: left
					left: 0
					top: 0
				input
					float: left
					padding: 6px 5px
					margin: 0 5px 0 10px
					font-size: 14px
					position: relative
					top: -2px
				label, span
					font-size: 18px!important
					font-weight: 300
			.calendar
				float: none
				background: none
				font-size: 18px
				margin-right: 0
				width: 450px
				padding-left: 0
				margin-top: 50px
				label
					&:nth-of-type(1)
						position: relative
						float: left
						left: 0
						top: 0
					&:nth-of-type(2)
						float: right
						position: absolute
						top: 8px
						left: auto
						right: 0
						input
							float: right
							margin: 0
							padding: 0
							width: auto
							top: 5px
							margin-left: 7px
				input
					float: left
					padding: 2px 35px 2px 5px
					margin: 0 0 0 10px
					font-size: 18px
					position: relative
					font-weight: 300
					top: -2px
					width: 191px
					text-align: left
				label, span
					font-size: 18px!important
					font-weight: 300
				.icon
					position: absolute
					left: 215px
					bottom: 15px
					background: url(../img/icons/calendar.png) no-repeat left center
					width: 16px
					height: 16px
		.file_upload
			position: relative
			overflow: hidden
			font-size: 1em		
			line-height: 40px	  
			max-width: 244px
			height: 42px
			background: url(../img/icons/border/small.png) no-repeat
			background-size: 244px 40px
			text-transform: uppercase
			font-size: 24px
			border-right: 4px
			text-transform: uppercase
			margin-top: 10px

		.file_upload > button
			width: 100%
			height: 100%

		.file_upload > div
			padding-left: 1em	  

		.file_upload input[type=file]
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			transform: scale(20)
			letter-spacing: 10em	 
			-ms-transform: scale(20) 
			opacity: 0
			cursor: pointer

		.file_upload input[type=file]
			position: absolute
			top: 0
			opacity: 0

		.file_upload input[type=file]
			position: absolute
			top: 0
			visibility: hidden

		.file_upload.focus
			box-shadow: 0 0 5px rgba(0,30,255,0.4)

		.file_upload > button
			background: transparent
			border: none
			color: #fff
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
			text-transform: uppercase!important
			border-radius: 4px!important
			cursor: pointer
			font-weight: 300

		.file_upload:hover > button
			background: $c2
			color: $c1
			border-radius: 5px!important
		.one
			margin-bottom: 18px
			.col-md-9
				.form-group
					margin-bottom: 10px
			.foz16 label
				font-size: 16px!important
				font-weight: 300!important
		.icon-mini-info
			float: left
			display: inline-block

			background: url('../img/icons/info.png')
			background-size: 100%
			width: 17px
			height: 17px
			margin-right: 5px


		.marsh
			max-width: 460px
			font-size: 15px
			font-weight: 300
			background: url(../img/icons/border/large-small.png) no-repeat
			background-size: 460px 90px
			height: 100px
			padding-top: 7px
			padding-left: 5px
			margin-left: 0
			.icon
				float: left
				background: url(../img/icons/start-and-finish.png) no-repeat center
				width: 59px
				height: 65px
			input
				color: $c1
				font-size: 14px
				
			input[type="text"]
				font-size: 12px
				padding: 2px 10px
				border-radius: 5px
				border: none
				width: 100%
				font-size: 16px

			.row
				margin-bottom: 5px
		.two
			.m1
				padding-right: 0
			.m0
				padding-right: 0
				.col
					padding-left: 0
					padding-right: 0
				.col-md-6
					font-size: 18px
					line-height: 32px
					&:last-of-type
						padding-left: 0
						padding-right: 0
						text-align: right
				input
					background: $c2
					border: none
					width: 65px
					padding: 5px
					line-height: 15px
					border-radius: 5px
					text-align: center
					color: $c1
					font-weight: bold
					outline: none
				.dropdown-menu
					// left: 47%
				.dropdown
					display: inline-block
					margin-left: 10px
				.caretka
					margin-left: 5px
					width: 150px
					text-align: left
					font-size: 14px
					padding-left: 12px
					color: #949494!important
					text-align: left
					.icon-caret
						display: inline-block
						position: relative
						float: right
						margin-right: 5px
						top: 5px
			.map
				margin-top: 15px
				padding-right: 0
				span
					float: left
					color: #e90909
					font-size: 16px
					font-weight: bold
					line-height: 40px
					margin-right: 15px
				.form-group
					float: left
					width: 74.3%
		.three
			color: $c2
			margin: 20px 0
			.col
				padding-left: 0
				padding-right: 0
			.dropdown
				display: inline-block
				&:first-of-type
					margin-left: 7px
				button
					background-color: $c2
					color: $c1
					padding: 5px
					width: 165px
					text-align: left
					color: #818181
				.icon-caret
					background-image: url("../img/icons/caret-2.png")
					width: 11px
					height: 12px
					background-position: 0 0
					background-repeat: no-repeat
					background-size: 100%
					position: relative
					top: 5px
					margin-left: 10px
					float: right
					margin-right: 2px
				.icon-photo
					background-image: url("../img/icons/photo-camera.png")
					width: 16px
					height: 13px
					position: relative
					top: 2px
					margin-left: 5px
					margin-right: 10px
					float: left
				.icon-ligher
					display: inline-block
					background-image: url("../img/icons/flashlight.png")
					width: 16px
					height: 16px
					position: relative
					top: 2px
					margin-left: 5px
					margin-right: 10px
					float: left
			.c
				display: inline-block
				margin-right: 4px
			.foz16
				font-size: 16px
			.add-minus
				font-size: 16px
				float: right
				display: inline-block
				width: 12px
				height: 30px
				line-height: 6px
				margin-left: 3px
				span
					cursor: pointer
					&:first-of-type
						display: inline-block
						background: url('../img/icons/add.png') no-repeat
						width: 12px
						height: 12px
						background-size: 100%
						margin-top: 2px
						margin-bottom: 2px
					&:last-of-type
						display: inline-block
						background: url('../img/icons/clean.png') no-repeat
						width: 13px
						height: 13px
						background-size: 100%
	
		.levels
			.icon-info
				display: inline-block
				background-image: url('../img/icons/info.png') no-repeat center center
				width: 24px
				height: 24px
				float: left
				margin-left: 15px
			.lvl
				font-size: 18px
				font-weight: bold
				&:after
					content: ''
					position: relative
					display: inline-block
					border-bottom: 1px dashed #A4A4A4
					width: 91%
					float: right
					top: 12px
			.add-task
				min-height: 325px
				padding-top: 15px
				padding-left: 30px
				padding-right: 30px
				background: url('../img/icons/border/lvls.png') no-repeat center top
				background-size: 1145px 100%
				margin-top: 15px
				input
					font-weight: 300
				.form-group
					margin-bottom: 10px
					input
						height: 27px
					textarea
						height: 62px
				.col-md-2
					font-size: 18px
					font-weight: 300
					text-align: right
					line-height: 27px
				.pds
					font-size: 14px!important
					i
						display: inline-block
						float: left
						background: url('../img/icons/chat.png')
						width: 24px
						height: 24px
						margin-left: 15px
				.col-md-3
					line-height: 27px
					.vremya
						float: left
					.form-group
						float: left
						display: inline-block
						width: 85px
						margin-left: 25px

					.min
						float: right
				.otv
					i
						float: left
						background-image: url("../img/icons/info.png")
						background-position: center
						width: 24px
						height: 24px
						margin-left: 70px
				.photo
					line-height: 20px
					font-size: 14px
					i
						// float: left
						// background-image: url("../img/icons/photo-camera.png")
						// background-position: center
						// width: 16px
						// height: 13px
						// margin-left: 0
			.buttons
				font-size: 16px
				font-weight: 300
				margin-top: 18px
				button
					background-image: url("../img/icons/border/large-mini.png")
					width: 201px
					text-align: left
				.icon
					display: inline-block
					float: left
					margin-right: 10px
				.plus
					.icon
						background: url('../img/icons/add.png')
						width: 17px
						height: 17px
				.minus
					.icon
						background: url('../img/icons/clean.png')
						width: 19px
						height: 19px

					float: right
			.final
				font-weight: 300
				margin-top: 90px
				button
					font-size: 23px
					text-transform: uppercase
					width: 315px
					height: 42px
					line-height: 42px
					background-image: url('../img/icons/border/large.png')
					background-size: 315px 42px
					padding: 0
				.chern
					float: right
				.add-q
					background-color: rgba(130,160,40, .6)

	.this-q
		.icons
			margin-bottom: 15px
		.img
			max-width: 357px
			height: 313px
			background-image: url("../img/icons/border/big.png")
			background-size: 100% 100%
			margin: 0 auto
			img
				position: relative
				display: block
				top: 2px
				left: 2px
				bottom: 2px
				max-width: calc(100% - 4px)
		.right
			.one
				margin-bottom: 5px
				.col-md-10
					font-size: 16px
					padding-top: 5px
					.icon-map
						margin-right: 15px
					.red
						color: $c3
						font-weight: bold
					.address
						display: block
						font-weight: 300
				.round-price
					position: relative
					margin-top: -10px
			.two
				font-size: 14px
				background-image: url("../img/icons/border/large-small.png")
				background-size: 750px 100%
				padding: 10px
				background-position: center
				background-repeat: no-repeat
				.icon-start-and-finish
					margin: 0 auto
				.icon
					float: left
					height: 120px
				.row
					margin-bottom: 3px
				.foz25
					font-size: 20px
					font-weight: 900
				.lh25
					line-height: 25px
				.col-md-7
					.col-md-6
						&:nth-of-type(1)
							font-weight: 300
						&:nth-of-type(2)
							font-weight: bold
							text-align: right
				.transport
					padding-left: 15px
					.icons-transport
						div
							display: inline-block
							line-height: 35px
							margin-right: 12px
					h4
						font-size: 14px
						font-weight: 900
						margin-top: 0
					&:before
						display: block
						content: ''
						position: absolute
						height: 67px
						width: 1px
						background: $c2
						left: 5px

			.three	
				padding: 15px 0
				border-top: 1px dotted $c2
				border-bottom: 1px dotted $c2
				margin: 10px 0 20px
				.col-xs-12
					padding-left: 0
					padding-right: 0
				h3
					margin: 0 0 5px
					font-weight: 900
				p
					font-weight: 300
					&:last-of-type
						margin-bottom: 0
			.four
				.btn
					background: $c3
					font-weight: 900
					font-size: 23px
					width: 210px
				.must
					.title
						float: left
						padding-top: 5px
						font-size: 18px
						font-weight: 900
					.icons-must
						float: left
						vertical-align: bottom
						margin-left: 30px
						padding-top: 10px

						div
							display: inline-block
							margin-right: 12px
						.icon-photo-camera
							background-position: -724px -219px
							width: 30px
							height: 23px
							position: relative
							top: -3px
					.perechen
						float: left
						margin-left: 30px
						padding-top: 15px

	.list-q
		margin-top: 25px
		.all
			display: block
			margin: 40px auto 0
		> .row
			margin-bottom: 50px
			&:last-of-type
				margin-bottom: 0
		.left
			.img
				max-width: 295px
				height: 230px
				background-image: url("../img/icons/border/big.png")
				background-size: 100% 100%
				img
					position: relative
					display: block
					top: 2px
					left: 2px
					bottom: 2px
					max-width: calc(100% - 4px)
			.round-price
				position: absolute
				bottom: 5px
				left: 30px
		.right
			h2
				text-align: left
				margin: 0 0 5px
				font-size: 30px
				font-weight: 900
			p
				font-weight: 300
			.one
				.col-lg-2
					padding-top: 35px
				.edit
					background: #439019
					margin-bottom: 7px
				.clear
					background: #FF1920
				button
					width: 120px
					text-align: center
					font-size: 12px
					font-weight: 900
					height: 29px
					// line-height: 29px
			.two
				margin-top: 20px
				.icons
					margin-left: -15px
				.other-info
					margin-top: 22px
					span
						display: block
						margin-bottom: 5px
						&:last-of-type
							margin-bottom: 0
				.marshrut
					padding: 15px 10px 
					background: url(../img/icons/border/large-small.png)
					background-size: 100% 100%
					.col-md-10
						font-size: 13px
						padding-top: 12px
						text-align: right
						.col-md-5
							font-weight: 300
						.col-md-7
							font-weight: 500
						.row
							margin-bottom: 5px

	.other
		margin-top: 60px

	.m40
		margin-left: 40px
		margin-right: 40px
	.free-sertif
		position: relative
		z-index: 0
		> .row
			margin-bottom: 14px
			position: relative
			margin-bottom: 40px
			&:before
				z-index: 1
				content: ''
				position: absolute
				background: url('../img/bg/bant.png')
				width: 1140px
				height: 282px
				top: 0
				left: 15px
		input
			height: 26px
			background: $c2!important
			cursor: text!important
			border: none
			box-shadow: none
		img
			position: absolute
			max-width: 1140px
			margin-left: 15px
		h2
			position: relative
			text-align: right
			right: 0
			top: -7px
			span
				display: inline-block
				max-width: 660px
				text-align: right
				padding: 0 35px
				line-height: 43px
				font-size: 43px
				font-weight: 300
			.red-h
				color: $c3
				background: $c2
				padding: 5px 35px
				margin-bottom: 3px
			.red-h + br + span
				font-weight: 900
				margin-bottom: 35px
		.data
			background: rgba(255,255,255,0.7)
			border-radius: 5px
			color: $c1
			font-size: 18px
			font-weight: 300
			margin-right: 45px
			padding: 10px 0
			position: relative
			line-height: 25px

		.print
			display: block
			z-index: 5
			background: rgba(199,19,24,0.8)
			font-size: 19px
			font-weight: bold
			height: 50px
			padding: 13px 12px
			width: 210px
			margin: 10px auto 0
			span
				float: left
				display: block
				position: relative
				top: -5px
			&:hover, &:active, &:focus
				background: rgba(199,19,24,1)!important
				color: $c2!important
		.zi1
			z-index: 1

	.party
		h2
			font-size: 28px
			margin: 0
			margin-top: 5px
			margin-bottom: 25px
		h2 + .row
			margin-bottom: 15px
		h3
			font-size: 23px
			text-transform: uppercase
			margin: 20px 0 30px
		input
			font-style: italic
		.row
			margin-bottom: 12px
			line-height: 25px
		.left
			img
				border-radius: 7px
		.right
			background: #4C4C4C
			min-height: 254px
			border-radius: 5px
		.one
			font-size: 21px
			font-weight: 300
			.time
				font-weight: 900
				text-align: center
				font-size: 25px
		.three
			line-height: normal
		.next
			background: #FF1920
			width: 100%
		.help
			background: #307014
			width: 100%
		button
			// font-weight: bold
			font-size: 17px

	.breadcrumbs
		position: relative
		margin-top: 15px
		margin-bottom: 40px
		li
			list-style: none
			display: inline-block
			a
				color: $c2
				&:after
					display: inline-block
					content: '-'
					padding-left: 5px
					padding-right: 2px
			&:nth-of-type(2):last-of-type
				&:after
					width: 85%
			&:nth-of-type(3):last-of-type
				&:after
					width: 80%
			&:nth-of-type(4):last-of-type
				&:after
					width: 70%
			&:after
				right: 0
				position: absolute
				display: block
				content: ''
				height: 3px
				background: $c2
				top: 7px
	.content
		p
			line-height: 18px
footer
	padding-bottom: 10px
	.col
		z-index: 10
		line-height: 35px
	.pay
		span
			float: right
			padding-right: 45px
	.copy
		font-size: 13px
		text-align: center
	.social
		text-align: right
		span
			float: left
			padding-left: 120px
		a
			display: inline-block
			margin-left: 5px
			&:hover
				opacity: 0.5
@media screen and (max-width:1200px)
	header 
		.top 
			.navbar-left 
				a
					padding-left: 5px
					padding-right: 5px
	article 
		.this-q 
			.right 
				.two
					background-image: none!important
					.transport
						padding-top: 10px
						padding-left: 0!important
						text-align: center
						&:before
							display: none!important
		.breadcrumbs li:last-of-type:after
			width: 50%!important
		.free-sertif 
			img
				max-width: 100%
				margin-left: 0
			> .row:before
				display: none
			h2
				top: -20px
				right: -15px
			.print
				position: absolute
				margin-top: 0
			.data
				margin: -30px auto 0
		.party 
			button
				font-size: 16px!important
			br
				display: none
		.add-q 
			.data 
				.calendar
					float: none
					margin: 50px auto 0
			.marsh
				margin: 0 auto 20px!important

			.two
				.map
					margin-top: 30px
					.form-group
						float: right!important
			.levels 
				.add-task
					background-image: none
		.navigation .zero a
			width: 220px
			background-image: none
			border: 1px solid $c2
			font-size: 20px
		.list-q
			.left
				.img
					background-image: none
					height: auto
		.list-q .right .two .marshrut
			margin-top: 20px
@media screen and (max-width:992px)
	header 
		.top 
			.navbar-left 
				a
					padding-left: 10px
					padding-right: 10px
					padding-bottom: 0px
	article
		.navigation
			.one
				.dropdown-menu
					top: 43px
					left: 3.5%
	article 
		.this-q
			.img
				height: 302px!important
			.right 
				.one
					margin-bottom: 0
					.round-price
						margin-top: 0
						width: 100%
						border-radius: 0
						height: 35px
						line-height: 35px
						padding-top: 0
						background: none
						border: none
						margin-bottom: 0
						strong
							display: inline-block
		.free-sertif
			h2
				margin-top: 70px!important
				text-align: center!important
				top: 0!important
				right: 0 !important
			.print
				display: none
			.data
				background: $c2
				border-radius: 0
			.col-md-12
				padding-left: 0
				padding-right: 0
		.party 
			.left
				text-align: center
				bottom: 20px
			.right
				padding-top: 10px
				padding-bottom: 10px
				h3
					margin-top: 0
					text-align: center
				.col
					margin-bottom: 10px
					text-align: center
		.add-q 
			.img
				text-align: center
				margin-left: auto
				margin-right: auto
			.file_upload
				margin: 10px auto 0
			.data 
				.calendar
					float: left
					margin-top: 10px
			.marsh
				background-image: none
				height: auto
				.col-md-2
					display: none
				.col-md-10
			.levels 
				.add-task 
					.col-md-2
						text-align: left
						span, i
							margin-right: 10px
					.col-md-3
						float: right
						width: 35%
						.form-group
							// width: 75%
					.row
						margin-bottom: 15px
					.otv
						i
							margin-left: 15px
		.list-q
			> .row
				border-bottom: 2px solid $c2
				padding-bottom: 50px
			.left
				.img
					margin: 0 auto
				.round-price
					position: relative
					margin-top: -70px
					left: -100px
					margin-bottom: 20px
			.right
				text-align: center
				.icon-mini
					margin-bottom: 8px
				h2
					text-align: center
				.one 
					.col-lg-2
						padding-top: 0
						button
							margin-bottom: 8px
				.two
					.marshrut
						
						.col-md-2
							display: none
						.col-md-10
							text-align: center

@media screen and (max-width:768px)
	header 
		.top 
			.navbar-right
				top: 0px
				left: 60%
				position: absolute
			.navbar-nav
				margin: 0
				padding-top: 20px
				padding-bottom: 20px
			.navbar-toggle
				top: 12px
			.navbar-collapse
				position: absolute
				background: $c2
				top: 90px
				left: 0
				width: 100%
				li
					display: block
					a
						padding-top: 7px
						padding-bottom: 7px
						color: $c1
		.bottom
			br
				display: none

		.plashka
			font-size: 36px
	.navbar-toggle
		background-color: $c2
		.icon-bar
			background: $c1
	article
		.navigation
			.one
				.center
					max-width: 477px
					.dropdown-menu
						top: 43px
						left: 3.5%
		.this-q
			.img
				height: 313px!important
				margin-bottom: 30px
		.right .four .btn
			display: block
			margin: 0 auto 20px
		.breadcrumbs li:last-of-type:after
			display: none
		.free-sertif 
			h2
				margin-top: 4%!important
				br
					display: none
				span
					text-align: center

			.red-h
				display: none
			.col-sm-6
				&:nth-of-type(even)
					margin-bottom: 10px
					font-size: 14px
				input
					padding-left: 0
		.party
			// .row
			// 	margin-right: 15px
			// 	margin-left: 15px
			.btn
				font-size: 14px!important
				height: auto
				white-space: normal
	article 
		.add-q
			.data
				.mini
					float: none!important
					display: block
					margin-bottom: 25px
				.distance
					margin-bottom: 15px
				.price
					padding-left: 0
					margin-bottom: 0
				.calendar
					margin-left: 0
					margin-bottom: 5px
			.two .m0
				.col-md-6
					&:last-of-type
						padding-top: 10px
						text-align: left
			.marsh
				margin-left: 0!important
				padding-left: 0
				.col-md-10
					padding-left: 0
	article .add-q .two .map .form-group
		width: 100%
		margin-top: 5px
		margin-bottom: 0
	article .navigation .zero a
		display: block
		float: none!important
		margin: 0 auto 10px!important
@media screen and (max-width:700px)
	article 
		.add-q 
			.levels 
				.final
					.col-sm-6
						width: 100%
						margin-bottom: 10px
						button
							display: block
							float: none
							margin: 0 auto
			.levels 
				.add-task 
					.col-md-3
						width: 45%
@media screen and (max-width:630px)
	footer
		.copy
			display: none
		.pay, .social
			width: 50%
@media screen and (max-width:570px)
	h1, header .plashka
		font-size: 36px
	header
		.center
			a
				border: 1px solid $c2
				background-image: none
				font-size: 20px
				height: 45px
				line-height: 45px
		.bottom
				display: none
	article
		margin-top: -260px
		.navigation
			.one
				.center
					max-width: 240px
		.add-q
			.levels 
					.add-task 
						.col-md-3
							width: 55%
	.modal-dialog
		width: 100%
		
		.flr, .dropdown, input, button
			float: none !important
			width: 100%!important
			margin-left: 0 !important
		button
			font-size: 20px
			white-space: normal
		.modal-content .close
			text-align: right !important
@media screen and (max-width:510px)
	article
		.free-sertif 
			h2
				span
					font-size: 22px
	article .add-q .data 
		.calendar 
			width: auto
			max-width: 430px
			label:nth-of-type(2)
				position: relative
				display: block
				float: left
				top: 5px
				left: 0
				right: auto

@media screen and (max-width:475px)
	header 
		.top 
			.navbar-right
				top: 70px
				left: 38%
			.navbar-brand
				width: auto
		.center
			margin-top: -100px

	article
		margin-top: -320px
	h1
		font-size: 28px
	h2
		font-size: 26px
	article .add-q .levels 
		.buttons .col-sm-6
			width: 100%
			button
				display: block
				float: none
				margin: 0 auto 10px
		.add-task 
			.col-md-3
				width: 100%!important
@media screen and (max-width:400px)
	article 
		.list
			figure
				// margin-bottom: 35%
				img
					position: relative
					width: 100%
					left: 0
					top: 0
			.col .col
				text-align: center
				padding-right: 0
			.icon-big
				background-image: none
				width: 100%
				height: auto
			.icon-mini
				display: none
			.top
				text-align: center
				padding-left: 0!important
				margin-top: -88%
			.center
				a
					display: block
					width: 200px
					margin: 17.5% auto !important
			.bottom
				position: relative!important
				width: 100%
				height: auto!important
				margin-top: 20%!important
			.desc 
				p
					display: none
		.this-q
			.icons
				.col
					width: 100%
					margin-bottom: 5px
			.img
				height: auto!important
				background-image: none
				margin-bottom: 10px
				img
					left: 0
					top: 0
	article .add-q .levels .final .col-sm-6 button
		width: 220px
		background-size: 100% 100%
	footer
		.copy
			display: block
		.col
			width: 100%
			text-align: center
		.icon-pay, a
			margin: 0 auto
	.f-bg 
		min-height: auto
		padding-top: 50px
		.copy
			// font-size: 18px
		> div
			min-height: auto
			> div
				position: relative
@media screen and (max-width:350px)
	article .list-q .left .round-price
		right: 20%
	article .list-q .all
		width: 210px
		background-image: none
		border: 1px solid $c2
@media screen and (max-width:330px)
	article
		margin-top: -300px