<p>Ваш профиль со следующими данными:</p>
<p>E-mail: <strong>#EMAIL#</strong></p>
<p>Был удален на сайте #SITE#.</p>
<br />
<small>Если Вы не регистрировались на сайте #SITE#, просто проигнорируйте это письмо.</small>
