<p>Ваши регистрационные данные:</p>
<p>E-mail: <strong>#EMAIL#</strong></p>
<p>Пароль: <stong>#PASSW#</stong></p>
<p>Для активации аккаунта перейдите по следующей ссылке:</p>
<a target="_blank" href="#LINK#">#LINK#</a>
<p>После перехода по ссылке Вы можете авторизироваться на сайте. </p>
<br /><br />
<small>Если Вы не регистрировались на сайте #SITE#, просто проигнорируйте это письмо.</small>
